.authBox{
    background-color: rgb(252, 252, 252);
   min-width: 25vw;
   
    border-radius: 5%;
    border:2px solid black;
    padding:1em;
    margin:0.5em;
}

.link:hover{
   color:rgb(58, 106, 196);
   transform: scale(1.1);
   text-decoration: underline;
}





