.active{
    background-color: purple;
     color:white;
}

@media screen and (max-width:450px){
    
}


.navIcon:hover{
    background-color: rgb(182, 181, 181);
    cursor: pointer;
    max-width: fit-content;
}
.navTitle{
    display:none;
}
.navIcon:hover +.navTitle{
    display:block;
    color:grey
}

.taskList{
    display:  flex;
    justify-content: space-between;
    padding:1em;
}
.taskList span{
    font-size: "large";
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color:rgb(7, 41, 97)
}
.taskList input{
    width:2em 
}

.askMeBox :hover{
    background-color: rgb(108, 240, 112);
     font-style: italic;
     font-weight: 500;
}

.hospitalCard:hover{
    transform: scale(1.1);
     
}

form label{
    font-variant: small-caps;
    font-size:larger;
}

.recordData{
    font-style: italic;
    margin-inline: 0.3em;
    color:rgb(231, 170, 15)
}
